.entry-content .alignfull {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    width: 100vw;
}

/* Navigation
--------------------------------------------- */

.editor-styles-wrapper .wp-block-navigation__container>.wp-element-button {
    padding: 0;
}

/* Drop nav */
header .wp-block-navigation .wp-block-navigation__submenu-container {
    border: none !important;
    font-size: var(--wp--preset--font-size--small);
    line-height: var(--wp--custom--line-height--initial);
    border-radius: 5px;
    min-width: 200px !important;
    padding-top: .75rem;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .1);
}

/* Drop nav submenu */
header .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
    margin-left: -5px;
    margin-top: calc(var(--wp--preset--spacing--xx-small) * -1);
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
    margin-right: var(--wp--preset--spacing--xx-small);
}

header .wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
    padding: var(--wp--preset--spacing--xx-small) var(--wp--preset--spacing--x-small) !important;
}

/* Mobile Navigation */

.is-menu-open.has-modal-open .wp-block-navigation__container {
    width: 100%;
    gap: 0 !important;
}

.is-menu-open.has-modal-open .wp-block-navigation__container ul {
    margin-left: 1rem;
}

.is-menu-open.has-modal-open ul.wp-block-navigation__submenu-container {
    border-radius: 0;
    margin: 5px 0;
}

.is-menu-open.has-modal-open .wp-block-navigation__container>li {
    width: 100%;
    padding: 0 0;
    position: relative;
}

.is-menu-open.has-modal-open .wp-block-navigation__container ul li:hover a:hover:before {
    text-decoration: none;
}

/* Adjust the first mobile menu item to prevent conflict with menu close button */
.is-menu-open.has-modal-open .wp-block-navigation__container>li:first-child>a {
    padding-top: 0 !important;
    max-width: 90%;
}

/* Mobile menu sub menu */
.is-menu-open.has-modal-open .wp-block-navigation-item .wp-block-navigation__submenu-container {
    padding: 0 0 0 var(--wp--preset--spacing--large);
    font-size: var(--wp--preset--font-size--base);
    margin-left: 0;
    width: 100% !important;
}

/* Mobile menu links */
.is-menu-open.has-modal-open .wp-block-navigation-item__content {
    width: 100%;
    padding: var(--wp--preset--spacing--xx-small) 0 !important;
}

/* Mobile menu open button */
.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
    padding: 4px;
    border-radius: 3px;
}

.is-menu-open .wp-block-navigation__submenu-container {
    background: var(--wp--preset--color--tertiary);
    box-shadow: none !important;
    padding-top: var(--wp--preset--spacing--xx-small);
}

/* Button class on mobile */
.is-menu-open.has-modal-open .wp-block-navigation__container .wp-element-button {
    margin-top: var(--wp--preset--spacing--xx-small);
}

.is-menu-open.has-modal-open .wp-block-navigation__container .wp-element-button .wp-block-navigation-item__content {
    width: 100%;
    text-align: center;
    font-size: var(--wp--preset--font-size--base);
    padding: var(--wp--preset--spacing--xx-small) !important;
}

/* Header */
.site-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: static;
}

/*Transparent Header */
.transparent-header {
    top: 0;
    background-color: #181818;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    left: 0;
    margin: 0 !important;
    width: 100%;
    z-index: 999;
    position: absolute;
}

.transparent-header>.has-background {
    background: transparent !important;
}

.logged-in.admin-bar .transparent-header {
    top: 32px;
}

@media screen and (max-width: 782px) {
    .logged-in.admin-bar .transparent-header {
        top: 48px;
    }
}

/* Content */
.hentry .wp-block-post-excerpt__excerpt {
    margin-top: revert !important;
    margin-bottom: revert !important;
}

pre {
    overflow: auto;
}

.wp-caption {
    max-width: 100% !important;
}

/* Meta */
.wp-block-post-author {
    align-items: center;
}

.wp-block-post-author__name {
    margin-bottom: 0;
}

.wp-block-post-author__avatar {
    display: inline-flex;
    align-items: center;
    margin-right: .5rem;
}

.wp-block-post-author__avatar img {
    width: 26px;
    height: 26px;
    border-radius: 100px;
}

/* Style Variations */
.variation-dark .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--base);
    color: #fff;
}

.variation-dark .wp-block-site-logo svg path:nth-child(1) {
    stroke: #fff;
}

.variation-dark .wp-block-site-logo svg path:nth-child(2) {
    fill: #fff;
}

.variation-dark #comment {
    background-color: var(--wp--preset--color--tertiary);
    color: var(--wp--preset--color--white);
}

/* Patterns */
.hero-image.wp-block-cover {
    margin-top: 0;
}

.fullheight {
    min-height: 100vh;
}

.pattern-categories a {
    text-decoration: none;
}

/* Footer */
footer {
    margin-top: 0 !important;
}

@media only screen and (min-width: 600px) {
    header .wp-block-navigation :where(.wp-block-navigation__submenu-container) li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    header nav {
        padding-right: var(--wp--preset--spacing--medium);
    }

    .is-content-justification-space-between .site-meta {
        flex: 0 0 25%;
    }

    footer .wp-block-search__inside-wrapper {
        width: 50%;
    }

    .sidebar .wp-block-search__inside-wrapper {
        width: 80%;
    }
}


/* Mine////////////////////////////////////////////////////////// */


body {
    overflow-x: hidden;
    background-color: #1F3037;
}

h1 {
    color: #ffffff;
}

a {
    color: #ffffff !important;
}

.bgimg {
    z-index: -1;
    position: fixed;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#bgimg11 {
    bottom: 10px;
    left: 10px;
}

#bgimg12 {
    bottom: 230px;
    animation-delay: 0.3s;
    left: 270px;
}

#bgimg13 {
    bottom: 400px;
    animation-delay: 0.7s;
    left: 40px;
}

#bgimg21 {
    bottom: 500px;
    animation-delay: 1s;
    left: 300px;
}

#bgimg22 {
    bottom: 100px;
    animation-delay: 1.3s;
    left: 220px;
}

#bgimg23 {
    bottom: 230px;
    animation-delay: 1.7s;
    left: 85px;
}

#bgimg111 {
    bottom: 10px;
    left: calc(350px + 10px);
}

#bgimg121 {
    bottom: 230px;
    animation-delay: 0.3s;
    left: calc(350px + 270px);
}

#bgimg131 {
    bottom: 400px;
    animation-delay: 0.7s;
    left: calc(350px + 400px);
}

#bgimg211 {
    bottom: 500px;
    animation-delay: 1s;
    left: calc(350px + 300px);
}

#bgimg221 {
    bottom: 100px;
    animation-delay: 1.3s;
    left: calc(350px + 220px);
}

#bgimg231 {
    bottom: 230px;
    animation-delay: 1.7s;
    left: calc(350px + 85px);
}

#bgimg112 {
    bottom: 10px;
    left: calc(750px + 10px);
}

#bgimg122 {
    bottom: 230px;
    animation-delay: 0.3s;
    left: calc(750px + 270px);
}

#bgimg132 {
    bottom: 400px;
    animation-delay: 0.7s;
    left: calc(750px + 400px);
}

#bgimg212 {
    bottom: 500px;
    animation-delay: 1s;
    left: calc(750px + 300px);
}

#bgimg222 {
    bottom: 100px;
    animation-delay: 1.3s;
    left: calc(750px + 220px);
}

#bgimg232 {
    bottom: 230px;
    animation-delay: 1.7s;
    left: calc(750px + 90px);
}

#bgimg113 {
    bottom: 10px;
    left: calc(1050px + 10px);
}

#bgimg123 {
    bottom: 230px;
    animation-delay: 0.3s;
    left: calc(1050px + 270px);
}

#bgimg133 {
    bottom: 400px;
    animation-delay: 0.7s;
    left: calc(1050px + 400px);
}

#bgimg213 {
    bottom: 500px;
    animation-delay: 1s;
    left: calc(1050px + 300px);
}

#bgimg223 {
    bottom: 100px;
    animation-delay: 1.3s;
    left: calc(1050px + 220px);
}

#bgimg233 {
    bottom: 230px;
    animation-delay: 1.7s;
    left: calc(1050px + 90px);
}

.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
    fill: white !important;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: #000;
}

.site-footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

a {
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #109A9A !important;
}

#maincont {
    height: auto;
    display: flex;
    min-height: 100vh;
    /*margin-top: 200px;*/
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#regbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    color: #181818;
    background-color: transparent;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.gradient-border {
    --borderWidth: 7px;
    background: #1D1F20;
    position: relative;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #FFDA22, #EFA00B, #BF953F, #FCF6BA);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    border-radius: 50px;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.datecont {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100vw;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.datenumbercont {
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #181818;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}

@-webkit-keyframes shine {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    80% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    100% {
        transform: translateX(100%) translateY(100%) rotate(30deg);
    }
}

@keyframes shine {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    80% {
        transform: translateX(-100%) translateY(-100%) rotate(30deg);
    }

    100% {
        transform: translateX(100%) translateY(100%) rotate(30deg);
    }
}

.box--gradient {
    display: flex;
    margin: 0 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.box--gradient p {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    font-size: 30px;
}

.box--gradient:after {
    content: "";
    top: 0;
    transform: translateX(100%) rotate(30deg);
    width: 300%;
    height: 300%;
    position: absolute;
    z-index: 1;
    -webkit-animation: shine 3s infinite ease-in;
    animation: shine 3s infinite ease-in;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(128, 186, 232, 0) 100%);
}

.box--gradient.silver {
    background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}

.box--gradient.gold {
    background: linear-gradient(to bottom, #c39738, #deb761, #c39738);
}

.box--gradient.gold:after {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.box--gradient.platinum {
    background: linear-gradient(to bottom, #d5d7e5, #eee, #d5d7e5);
}

.box--gradient.platinum:after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.eventcontparent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.eventnumbercont {
    color: #181818;
    height: 50px;
    overflow: hidden;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    /* margin-left: 20px; */
    width: 30px;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.eventcont {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

div#logocontmain {
    background-color: #181818cf;
    border-radius: 30px;
}

.clgimg {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image: url('https://erevnarmc.com/wp-content/uploads/2024/05/IMG_3727-1212491260-e1714889270392.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    border-radius: 30px;
    z-index: -1;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    background-attachment: fixed;
}

/*
@media only screen and (max-width: 600px) {
    .clgimg {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}
*/


:root {
    --white: #fff;
    --darkbg: #181818;
    --themegreen: #109A9A;
    scroll-behavior: smooth;
}

a.brochurelink {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    color: white;
    text-decoration: none;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

a.brochurelink:hover {
    color: white !important;
}

.brochurewrapper {
    margin-bottom: 20px;
}

.brochurelink span,
.brochurelink i {
    position: relative;
}

.brochurelink i {
    margin-left: 0.5em;
}

.rightarrow::before {
    content: "\2192"
}

.brochurelink .brochurecolor {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: var(--themegreen);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: -0.65em;
}

.postercont {
    width: 450px;
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    .postercont {
        width: 100%;
    }
}

h2, p {
    color: white;
}

p.abouterevna {
    font-size: large;
    text-align: center;
}

.rolllist {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    transform: translateY(50%);
    padding: 0;
}

.rolllistanim {
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: roll;
}

/*Roll Animation*/
@keyframes roll {
    100% {
        transform: translateY(0);
    }
}

.whatsoncont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.workshopscont {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.competitionscont {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.culturalscont {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 782px) {
    .workshopscont {
        flex-direction: column;
    }
    .competitionscont {
        flex-direction: column;
    }
    .culturalscont {
        flex-direction: column;
    }
}

.textflow {
    margin: 10px;
    padding: 10px;
    background-color: #181818cf;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.personcont {
    background-color: #181818cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-content: center;
    align-items: center;
    width: 274px;
}

.namecont {
    color: #eee;
}

.desigcont {
    color: #ffffff7d;
    text-align: center;
}

.facultycorecommitteediv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.teamcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    color: white;
}

.teamnamecont {
    color: #eee;
    margin-bottom: 10px;
}